#img-logo{
    margin: 15px;

    width: 320px;
}

#imgBox{


    width: 350px;
    height: 350px;


    background-color: #FF5454 ;
}


#startSpillBoble{
    background-color: #5EFF25;
    width: 250px;
    height: 100px;
}
#startSpillTekst{
    height: 100%;
    color: white;
}